<%- model_class = AboutMe -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:dob) %></th>
      <th><%= model_class.human_attribute_name(:native) %></th>
      <th><%= model_class.human_attribute_name(:schooling) %></th>
      <th><%= model_class.human_attribute_name(:colege) %></th>
      <th><%= model_class.human_attribute_name(:batchelers) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @about_mes.each do |about_me| %>
      <tr>
        <td><%= link_to about_me.id, about_me_path(about_me) %></td>
        <td><%= about_me.name %></td>
        <td><%= about_me.dob %></td>
        <td><%= about_me.native %></td>
        <td><%= about_me.schooling %></td>
        <td><%= about_me.colege %></td>
        <td><%= about_me.batchelers %></td>
        <td><%=l about_me.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_about_me_path(about_me), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      about_me_path(about_me),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_about_me_path,
            :class => 'btn btn-primary' %>
