<%- model_class = Home -%>
<div class="page-content">
  <dl class="content-left MyImage">
    <dd><%= image_tag @home.image.url %></dd>

  </dl>
  <dl class="content-right">
    <h1>Balu In 30 Seconds</h1>
    <dd><%= raw@home.about_me %></dd>
    <dd>
      <div class="proficon content-left">Resume</div>
      <div class="proficon content-left middleicon">Projects</div>
      <div class="proficon content-left lasticon">Skils</div>
    </dd>
  </dl>
</div>
<%= link_to t('.back', :default => t("helpers.links.back")),
              homes_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_home_path(@home), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              home_path(@home),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
